@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.folderCard {
  border: 1px solid var(--color-border, darkblue);
  padding: $spacingMedium $spacingLarge;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: $fontSizeLarge;
  font-weight: 400;
  margin-bottom: $spacingXXLarge;
  border-radius: $borderRadius;
  background-color: var(--background-content);
  color: var(--color-text);

  &__header {
    font-size: $SecondTextDeckstop;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: $spacingLarge;
    color: var(--color-text-secondary);
    @include respondTo(mobile){
      font-size: $SecondTextMobile;
    }
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    gap: $spacingXXLarge;

    @include respondTo(mobile) {
      gap: $spacingMedium;
    }
  }

  &__title {
    width: 100%;
    font-size: $titleH2Deckstop;
        @include respondTo(mobile) {
      font-size: $titleH2Mobile
    }
  }

  &__btnBlock {
    display: flex;
    gap: $spacingMedium;
    margin-left: auto;

    @include respondTo(mobile) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__nameChanger {
    position: relative;
    display: flex;
    align-items: center;
    gap: $spacingLarge;
    width: 100%;

    @include respondTo(mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: $spacingMedium;
    }
  }
}

.folderCard__nameChanger_mobile{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 80;
  border: 1px solid var(--color-border);
  border-radius: $radiusSmall;
  background-color: var(--background-input);

}

.folderCard__nameChangerInput{
  width: 70%;
  box-sizing: border-box;
  padding: 11px 16px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: var(--background-input);
  color: var(--color-text);
  z-index: 70;

  @include respondTo(mobile) {
    font-size: 0.95rem;
    padding: 10px 14px;
  }
}
.folderCard__nameChangerBtn{
  left: 95%;
  transform: translate(-100%, 0);
  border-radius: 4px;
  position: absolute;
  padding: 8px 12px !important;
  background-color: rgb(185, 196, 185) !important;
  z-index: 100;
  border: 1px solid var(--color-success-border, #12f00b);
  color: var(--color-text);
}
