@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.folderCard {
  border: 1px solid var(--color-border, darkblue);
  padding: $spacingMedium $spacingLarge;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: $fontSizeLarge;
  font-weight: 400;
  margin-bottom: $spacingXXLarge;
  border-radius: $borderRadius;
  background-color: var(--background-content);
  color: var(--color-text);

  &__header {
    font-size: $fontSizeBase;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: $spacingLarge;
    color: var(--color-text-secondary);
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    gap: $spacingXXLarge;

    @include respondTo(mobile) {
      flex-direction: column;
      gap: $spacingMedium;
    }
  }

  &__title {
    width: 100%;
  }

  &__btnBlock {
    display: flex;
    gap: $spacingMedium;
    margin-left: auto;

    @include respondTo(mobile) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__nameChanger {
    position: relative;
    display: flex;
    align-items: center;
    gap: $spacingLarge;
    width: 100%;

    @include respondTo(mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: $spacingMedium;
    }
  }
}
