// Переменные
$card-size: 200px;
$card-color: rgb(125, 176, 196);
$card-radius: 8px;
$center: 50%;

.wordcard {
  width: $card-size;
  height: $card-size;
  border-radius: $card-radius;
  position: absolute;
  top: $center;
  left: $center;
  transform: translate(-50%, -50%);

  &_left {
    top: $center !important;
    left: 25%;
    transform: translate(-50%, -50%) rotateY(-60deg);
    animation: wordcard-left-keyframe 200ms linear;
  }

  &_right {
    top: $center !important;
    left: 75%;
    transform: translate(-50%, -50%) rotateY(60deg);
    animation: wordcard-right-keyframe 200ms linear;
  }

  &__cont {
    width: $card-size;
    height: $card-size;
    border-radius: $card-radius;
    background-color: $card-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &_rotate {
      transition: 1s;
      transform: rotateX(180deg);
    }
  }

  &__words {
    color: black;
    position: absolute;
    top: $center;
    left: $center;
    transform: translate(-50%, -50%);
    z-index: 10;

    &--transform {
      animation: word-change 700ms linear;
      transition: 1s;
      transform: translate(-50%, -50%) rotateX(360deg);
    }
  }
}

// Анимации
@keyframes wordcard-left-keyframe {
  from {
    left: 25%;
    transform: translate(-50%, -50%) rotateY(-60deg);
  }

  to {
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@keyframes wordcard-right-keyframe {
  from {
    left: 75%;
    transform: translate(-50%, -50%) rotateY(60deg);
  }

  to {
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

@keyframes word-change {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
