@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/themes' as *;

.wordList {
  &__header {
    color: var(--color-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacingXLarge;
    margin-bottom: $spacingXXLarge;

    @include respondTo(mobile) {
      gap: $spacingMedium;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__backBtn {
    color: var(--color-text);
    cursor: pointer;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &__info {
      display: flex;
      gap: $spacingMedium;
      font-size: $fontSizeLarge;
      align-items: center;
      color: var(--color-text);

      @include respondTo(mobile) {
        align-items: center;
        gap: 12px;
        font-size: $fontSizeBase;
        margin-bottom: 40px;
      }
    }

    &__categories {
      margin-bottom: $spacingXXLarge;
      text-align: center;
      color: var(--color-text);
    }
  }
}

.wordCard {
  margin-bottom: $spacingLarge;
  position: relative;
  display: flex;
  justify-content: center;

  &__container {
    width: 300px;
    height: 200px;
    position: relative;
    background-color: var(--color-background);
    border-radius: $radiusMedium;
  }
}
