@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/themes' as *;

.wordList {
  &__header {
    color: var(--color-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $spacingXLarge;
    margin-bottom: $spacingXXLarge;

    @include respondTo(mobile) {
      flex-direction: column;
      gap: $spacingMedium;
      align-items: flex-start;
    }
  }

  &__backBtn {
    color: var(--color-text);
    cursor: pointer;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      display: flex;
      gap: $spacingMedium;
      font-size: $fontSizeLarge;
      align-items: center;
      color: var(--color-text);

      @include respondTo(mobile) {
        flex-direction: column;
        gap: $spacingSmall;
        font-size: $fontSizeBase;
      }
    }

    &__categories {
      margin-bottom: $spacingXXLarge;
      text-align: center;
      color: var(--color-text);
    }
  }
}

.wordCard {
  margin-bottom: $spacingLarge;
  position: relative;
  display: flex;
  justify-content: center;

  &__container {
    width: 300px;
    height: 200px;
    position: relative;
    background-color: var(--color-background);
    border-radius: $radiusMedium;

    @include respondTo(mobile) {
      width: 90%;
      height: auto;
    }
  }
}
