
.defaultBtn{

    padding: 9px 13px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    background-color: transparent ;
    width: fit-content !important;
    white-space: nowrap;

}


.btnSimple{
    border: 1px solid darkblue;
    
}
.btnDelete{
    background-color: red !important;
    border: 1px solid rgb(60, 22, 22);
    color: white;
    
}

.btnAdd{
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(18, 240, 11);
    
}

.btnCancel{
    background-color: rgb(214, 184, 184);
    border: 1px solid red;
    
}