@use '../styles/variables.scss' as *;
@use '../styles/mixins' as *;

.globalPage {
  color: var(--color-text);
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacingXXLarge;
    color: var(--color-text);

    @include respondTo(mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: $spacingMedium;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: $spacingXLarge;

    @include respondTo(mobile) {
      gap: $spacingLarge;
    }
  }
}
