@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navpanel {
  display: flex;
  margin-bottom: $spacingXXLarge;
  align-items: center;
  justify-content: space-between; 
  width: 100%;

  &__leftBlock {
    display: flex;
    align-items: center;
    gap: $spacingLarge;

    @include respondTo(tablet) {
      align-items: center;
      width: 100%;
      gap: 24px;
    }
    @include respondTo(mobile) {
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 12px;
    }
  }
}

.changerBlock {
  border: 1px solid var(--color-border);
  border-radius: $borderRadius;
  position: relative;
  background-color: var(--color-background);

  &__background {
    width: 50%;
    height: 100%;
    background-color: var( --color-background-2);
    border-radius: $borderRadius;
    position: absolute;
    transition: $transitionDuration;

    &_right {
      transform: translateX(100%);
    }

    &_left {
      transform: translateX(0);
    }
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &__variants {
    padding: $spacingSmall $spacingMedium;
    cursor: pointer;
    z-index: 2;
    color: var(--color-text);
    font-weight: 500;
    font-size: $fontSizeBase;

    @include respondTo(mobile) {
      font-size: $fontSizeSmall;
    }
  }
}


.searchWordBlock {
  width: 100%;
  position: relative;

}

.toglobalPage{
  display: flex;
  align-items: center;
  gap:24px;
}