.wordList__header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;

}

.wordList__backBtn{
    color: black;
}
.wordListBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wordCard{
    margin-bottom: 24px;
    position: relative;
    display: flex;
    justify-content: center;
}

.wordCard__container{
    width: 300px;   
    height: 200px;
    position: relative;


}


.wordListBody__info{
    display: flex;
    gap: 24px;
    font-size: 18px;

}