@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/themes'; // для подключения переменных темы (theme-light и theme-dark применены в themes.scss)

:root{
  background-color: var(--color-background);
  padding: 24px 45px;
  @include respondTo(desktop){
    padding: $rootPaddingDeckstop;
  }
  @include respondTo(tablet){
    padding: $rootPaddingTable;
  }
  @include respondTo(mobile){
    padding: $rootPaddingMobile;
  }
}


.App {
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respondTo(mobile) {
      gap: 1rem;
      margin-bottom: 2rem;
      margin-bottom: $MarginMobile;
    }
    @include respondTo(tablet) {
      gap: 1rem;
      margin-bottom: 2rem;
      margin-bottom: $MarginMobile;
    }
    @include respondTo(desktop) {
      gap: 1rem;
      margin-bottom: 2rem;
      margin-bottom: $MarginMobile;
    }



  }


  &__headerCont {
    display: flex;
    align-items: center;
    gap: 40px;

    @include respondTo(mobile) {
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &__addfolderBtn {
    cursor: pointer;
  }
}

.usercard {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  color: var(--color-text);
  background-color: var(--color-background);

  @include respondTo(mobile) {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  &__cont {
    width: fit-content;
    height: fit-content;
    letter-spacing: 0;
    font-size: 16px;

    @include respondTo(mobile) {
      font-size: 14px;
    }
  }
}
